.welcome{
    position: absolute;
    top: 93px;
    left: 136px;
    -webkit-user-drag: none;
}
.MainBtn1{
    position: absolute;
    top: 288px;
    left: 38px;
    -webkit-user-drag: none;
    cursor: pointer;
}
.MainBtn2{
    position: absolute;
    top: 288px;
    left: 262px;
    -webkit-user-drag: none;
    cursor: pointer;
}
.info{
    position: absolute;
    top: 206px;
    left: 46px;
    -webkit-user-drag: none;
}
.btn1{
    position: absolute;
    top: 468px;
    left: 38px;
    -webkit-user-drag: none;
    cursor: pointer;
}
.btn2{
    position: absolute;
    top: 558px;
    left: 38px;
    -webkit-user-drag: none;
    cursor: pointer;
}
.btn3{
    position: absolute;
    top: 648px;
    left: 38px;
    -webkit-user-drag: none;
    cursor: pointer;
}
.btn4{
    position: absolute;
    top: 740px;
    left: 38px;
    -webkit-user-drag: none;
    cursor: pointer;
}
.privacy{
    position: absolute;
    top: 850px;
    left: 230px;
    -webkit-user-drag: none;
}

